
admin/config!production.php
dashboard/debug!.txt
community/configurations/ossn.config!prod!db.php
community/configurations/ossn.config!prod!site.php
community/debug!.txt
uploads
newsportal/temp
newsportal/admin/config.php
newsportal/admin/config.php
includes/app_config.php
newsportal/admin/LOCAL.DEV
community/configurations/LOCAL.DEV
admin/LOCAL.DEV
includes/LOCAL.DEV
debug!.txt
dashboard/debug!.txt
